node_modules

# Output
.output
.vercel
.netlify
.wrangler
/.svelte-kit
/build
.claudeignore
litellm_config.yaml

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test
/secret

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
